@page
@model EthicalFramework.Views.Shared.ResultsFramPartialModel
@{
}

<div class="card">
    <div class="card-header">
        Results
    </div>
    <div class="card-body">
        Based on your answers, you adhere to the @Model.Name ethical framework.<br />
        @Model.Description
    </div>
</div>