@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Discover Your Preferred Ethical Framework</h1>
    <h4 class="lead">This short quiz will give you insight into which of five ethical frameworks you most adhere to in challenging 
    ethical dilemmas.
    <br /><br />
    </h4>
    <a class="btn-dark rounded p-2" asp-controller="Home" asp-action="Quiz">Take Quiz</a>
</div>
